/***********

light-gray hover: #dddddd;

***********/


/* Generic styling */
html {
	font-family: helvetica;
}

body {
	background-color: #fff8dc;
}

h1 {
	text-align: center;
}

#legend {
	text-align: center;
	margin-bottom: 20px;
}

#unfulfill {
	color: yellow;
	font-size: 1.7em;
}

#duplicate {
	color: #ff6060;
	font-size: 1.7em;
}

ul {
	text-align: left;
	list-style: none;
	padding: 0;
	display: inline-block;
}

#content {
	width: 60%;
	float: left;
	margin-bottom: 20px;
}

/* requirements sidebar styling */
#requirements {
	width: 35%;
	float: right;
}

.requirementsHeader {
	width: 45%;
	display: inline-block;
	font-size: 1.2em;
}

#creditHeader {
	text-align: right;
	margin-right: 5%;
}

#fulfillmentHeader {
	text-align: left;
}

#requiredCreditsList {
	width: 100%;
	/*height: 65vh;
	overflow-y: scroll;*/
}

.requirementsLI {
	padding: 2px 0;
}

.credit, .fulfilledBy {
	display: inline-block;
	width: 45%;
}

.credit {
	text-align: right;
	margin-right: 5%;
}

.fulfilledBy {
	text-align: left;
}

.btnYear {
	display: inline-block;
	border-radius: 4px;
	padding: 0 4px;
	margin-left: 20px;
	margin-top: 20px;
	border: 1px solid gray;
}

.btnYear:hover {
	background-color: #dddddd;
	cursor: pointer;
}

/* plan styling */
.year {
	display: table;
	width: 100%;
	text-align: center;
	margin-left: 10px;
}

.quarter {
	display: table-cell;
	padding: 10px;
}

.quarterHeader {
	font-size: 1.2em;
}

.removeCourse, .courseName {
	display: inline-block;
}

.removeCourse {
	border-radius: 4px;
	font-size: 0.8em;
	padding: 0.2em;
	margin-right: 10px;
}

.removeCourse:hover {
	background-color: #dddddd;
	cursor: pointer;
}

.courseName:hover {
	cursor: pointer;
}

.btnAddCourse {
	font-weight: bolder;
	font-size: 1em;
	display: inline-block;
	padding: 0 5px;
	border-radius: 4px;
}

.addCourse:hover {
	cursor: pointer;
	background-color: #dddddd;
}

.btnAddCourse:hover {
	background-color: #dddddd;
	cursor: pointer;
}

.dropdown {
	position: absolute;
	z-index: 10;
	background-color: white;
	height: 50vh;
	overflow-y: scroll;
	border: 5px solid #d8d8d8;
}

.dropdown > li {
	border: 1px solid gray;
	padding: 4px;
}