<!DOCTYPE html>
	
	<head>
		<title>Degree Audit Report</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="/javascripts/angularApp.js"></script>
	</head>

	<body ng-app="degreeAuditReport" ng-controller="MainCtrl">
		<div>
			{{ user }}
		</div>
		<div>
			{{ plan }}
		</div>
	</body>

</html>